* {
    font-family: helvetica, Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: row;
}

#left-bar-login, #left-bar-chat {
    flex-flow: column;
}

#left-bar-login {
    width: 300px;
    border-right: 1px solid black;
}

#left-bar-chat {
    flex: 1 1 auto;
    min-width: 300px;
}

/* Login styling */

#left-bar-login {
    padding: 0 10px;
}

#main-login {
    flex: 3 1 auto;
}

#login-form {
    display: table;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
}

#login-form-items {
    display: flex;
    flex-flow: column;
}

#login-form-items {

}

.login-form-item {
    width: 200px;
    margin: 5px 0;
}

#failed-login-message {
    display: none;
}

input[type="email"].login-form-item, input[type="password"].login-form-item {
    font-size: 16px;
    padding: 5px;
    border-style: solid;
}

/* Chat styling */

#chat-manager {
    display: flex;
    padding: 0 5px;
    flex-flow: row;
    align-items: center;
    margin-bottom: 5px;
    height: 50px;
}

#chat-manager-search {
    flex: 1 1 auto;
}

#chat-manager-search input {
    width: 90%;
}

#chat-manager-options {
    line-height: 0;
}

#chats {
    width: 100%;
}

.chat {
    display: flex;
    padding: 0 5px 0 0;
    flex-flow: row;
}

.chat:hover {
    background-color: rgba(240,240,240);
}

.avatar {
    align-self: center;
    display: flex;
    margin-right: 10px;
}

.chat-pane {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.chat-pane-info {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 5px;
}

.chat-pane-options {
    line-height: 0;
}

.chat-pane-name {
    align-self: flex-start;
    font-weight: bold;
    margin: 0;
}

.chat-pane-preview {
    flex: 2 1 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.chat-pane-preview-message {
    font-size: 14px;
    margin: 0;
}

.chat-pane-preview-date {
    font-size: 12px;
    text-align: right;
    margin: 0;
}

#main-chat {
    flex: 2 1 auto;
    flex-flow: column;
    display: flex;
    border-left: 1px solid gray;
    padding: 0 1.0em;
}

#info-bar {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#selected-user {
    display: inline-flex;
}

#selected-user-username {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

#selected-user img {
    margin-left: 10px;
    align-self: center;
}

#user-options {
    padding-right: 10px;
}

#user-options ul {
    text-align: left;
    list-style: none;
    position: absolute;
    padding: 10px 0;
    top: 25px;
    right: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: none;
    background-color: white;
}

#user-options ul .menu-item {
    font-size: 14px;
    padding: 5px 80px 5px 10px;
}

#user-options ul .menu-item:hover {
    text-decoration: underline;
}

#user-options ul .menu-break {
    padding: 0 10px;
}

#chatbox {
    flex: 2 1 auto;
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow: scroll;
}

.message-wrapper {
    flex: 0 0 auto;
    display: flex;
    margin: 0.5em 0;
}

.sender-wrapper {
    justify-content: flex-end;
}

.receiver-wrapper {
    justify-content: flex-start;
}

.message {
    display: inline-block;
    min-width: 35px;
    max-width: 300px;
    padding: 5px 15px;
    border-radius: 50px;
}

.receiver {
    background-color: lightgrey;
    color: black;
}

.sender {
    background-color: blue;
    color: white;
}

#message-box {
    flex: 1 1 auto;
}

.time {
    display: none;
    font-size: 0.65em;
    padding: 0 10px;
}

.receiver + .time {
    text-align: right;
}

.sender + .time {
    text-align: left;
}

#message-box {
    text-align: center;
}

#pending-message {
    display: inline-block;
    resize: none;
    font-size: 14px;
    max-height: 61px;
    height: 1px;
    width: 400px;
    padding: 5px;
    overflow: hidden;
}
